<controller-info>
    <controller-host>{{ appd_controller_host }}</controller-host>
    <controller-port>{{ appd_controller_port }}</controller-port>
    <account-name>{{ appd_account_name }}</account-name>
    <account-access-key>{{ appd_account_access_key }}</account-access-key>
    <application-name>{{ appd_app_name }}</application-name>
    <tier-name>{{ appd_tier_name }}</tier-name>
    <node-name>{{ appd_node_name }}</node-name>
    <!-- Add any additional configuration options as needed -->
</controller-info>
