[Unit]
Description=Apache Tomcat
After=network.target

[Service]
Type=forking
User={{ ansible_user }}
Group={{ ansible_user }}
Environment=CATALINA_HOME={{ tomcat_install_dir }}/tomcat
Environment=CATALINA_BASE={{ tomcat_install_dir }}/tomcat
Environment=CATALINA_PID={{ tomcat_install_dir }}/tomcat/temp/tomcat.pid
ExecStart={{ tomcat_install_dir }}/tomcat/bin/startup.sh
ExecStop={{ tomcat_install_dir }}/tomcat/bin/shutdown.sh

[Install]
WantedBy=default.target
